
<div class="spacer bg-light">
  <div class="container">
    <div class="spacer" id="banner4">
      <%= render 'home/search' %>
    </div>

    <div class="row m-t-40">
      <% if !@properties.any? %>
        <div class="col-md-8 mx-auto text-center">
          <h1>Sorry We didn't find anything, Try another search or</h1>
          <a href=" <%= root_path %>#contact " class="btn btn-danger-gradiant">Contact Us</a>
        </div>
      <% end %>

      <% @properties.each do |property|%>
        <%= render 'property', :property => property %>
      <% end %>
    </div>
  </div>
</div>
