<div class="static-site-head">
    <div class="feature30">
        <div class="row">
            <div class="col-lg-12">
                <%= image_tag 'property.jpg', class: 'img-responsive', alt: 'kumusha properties' %>
            </div>
            <div class="col-lg-5 col-md-7 text-center wrap-feature30-box" data-aos="fade-left" data-aos-duration="1800" data-aos-easing="linear">
                <div class="card card-shadow">
                    <div class="card-body">
                        <div class="p-20">
                            <h3 class="title">Where Real Estate Gets Real</h3>
                            <p>This where we put our very cool pursuasive statement that will make visitors click the button below.</p>
                            <a class="btn btn-info-gradiant btn-md btn-arrow m-t-20" href="#"><span>See Our Listings <i class="ti-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="spacer">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Our Recent Listings</h2>
                <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="row m-t-40">
            <!-- Column -->
            <div class="col-md-4">
                <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
                    <a href="#" class="img-ho">
                        <%= image_tag 'property.jpg', class: 'card-img-top', alt: '' %>
                    </a>
                    <div class="d-flex justify-content-between attributes p-3 bg-light">
                        <div class="attribute text-center">
                            <i class="fa fa-2x fa-home font-medium"></i> 4
                            <p>Bedrooms</p>
                        </div>
                        <div class="attribute text-center">
                            <i class="fa fa-2x fa-desktop font-medium"></i> <span class="text-lg">2</span>
                            <p>Bathrooms</p>
                        </div>
                        <div class="attribute text-center">
                            <i class="fa fa-2x fa-bus font-medium"></i> 1
                            <p>Borehole</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="font-medium m-b-0">Budiriro 5, Harare</h5>
                        <p class="m-b-0 font-14">4 bedroom house in Budiriro</p>
                        <p class="text-danger font-bold">$2 443, 00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
                    <a href="#" class="img-ho">
                        <img class="card-img-top" src="{{ asset('images/property.jpg') }}" alt="" />
                    </a>
                    <div class="d-flex justify-content-between attributes p-3 bg-light">
                        <div class="attribute text-center">
                            <i class="fa fa-2x fa-home font-medium"></i> 4
                            <p>Bedrooms</p>
                        </div>
                        <div class="attribute text-center">
                            <i class="fa fa-2x fa-desktop font-medium"></i> <span class="text-lg">2</span>
                            <p>Bathrooms</p>
                        </div>
                        <div class="attribute text-center">
                            <i class="fa fa-2x fa-bus font-medium"></i> 1
                            <p>Borehole</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="font-medium m-b-0">Budiriro 5, Harare</h5>
                        <p class="m-b-0 font-14">4 bedroom house in Budiriro</p>
                        <p class="text-danger font-bold">$2 443, 00</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-shadow" data-aos="flip-left" data-aos-duration="1200">
                    <a href="#" class="img-ho">
                        <img class="card-img-top" src="{{ asset('images/property.jpg') }}" alt="" />
                    </a>
                    <div class="d-flex justify-content-between attributes p-3 bg-light">
                        <div class="attribute text-center">
                            <i class="fa fa-2x fa-home font-medium"></i> 4
                            <p>Bedrooms</p>
                        </div>
                        <div class="attribute text-center">
                            <i class="fa fa-2x fa-desktop font-medium"></i> <span class="text-lg">2</span>
                            <p>Bathrooms</p>
                        </div>
                        <div class="attribute text-center">
                            <i class="fa fa-2x fa-bus font-medium"></i> 1
                            <p>Borehole</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="font-medium m-b-0">Budiriro 5, Harare</h5>
                        <p class="m-b-0 font-14">4 bedroom house in Budiriro</p>
                        <p class="text-danger font-bold">$2 443, 00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spacer feature4  bg-light">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <div class="col-md-7 text-center">
                <h2 class="title">Why choose us</h2>
                <h6 class="subtitle">We are a well connected group working with truted brands of realtors</h6>
            </div>
        </div>
        <!-- Row  -->
        <div class="row m-t-40">
            <!-- Column -->
            <div class="col-md-4 wrap-feature4-box">
                <div class="card text-center" data-aos="zoom-out-right" data-aos-duration="1200">
                    <div class="card-body">
                        <div class="icon-round bg-light-info">
                            <i class="fa fa-star"></i>
                        </div>
                        <h5 class="font-medium">Reliable</h5>
                        <p class="m-t-20">
                            We are in constant communication with our clients and keep them posted and always stick to agreements. One can bank on our response
                        </p>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-4 wrap-feature4-box">
                <div class="card text-center" data-aos="zoom-out-left" data-aos-duration="1200">
                    <div class="card-body">
                        <div class="icon-round bg-light-info">
                            <i class="fa fa-check-circle"></i>
                        </div>
                        <h5 class="font-medium">Trusted </h5>
                        <p class="m-t-20">
                            Trust is our value and we mutually share this attribute with our clients both the buyres and sellers.
                            We take pride accurate prices agreed by the seller and communicate the same to our buyers
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wrap-feature4-box">
                <div class="card text-center" data-aos="zoom-out-left" data-aos-duration="1200">
                    <div class="card-body">
                        <div class="icon-round bg-light-info">
                            <i class="fa fa-shield"></i>
                        </div>
                        <h5 class="font-medium">Verified </h5>
                        <p class="m-t-20">
                            We sell verified properties under the council cession, with title deeds and all necessary land permits. We also encourage our clients to verify our properties so that know how genuine they are.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>
</div>

<div class="mini-spacer bg-info text-white c2a7">
    <div class="container">
        <div class="d-flex">
            <div class="display-7 align-self-center">Are you happy with what we offer? Ask for Free Quote</div>
            <div class="ml-auto m-t-10 m-b-10"><button class="btn btn-outline-light btn-md">Ask for Quatation</button></div>
        </div>
    </div>
</div>

<div class="blog-home2 spacer">
    <div class="container">
        <!-- Row  -->
        <div class="row justify-content-center">
            <!-- Column -->
             <div class="col-md-8 text-center">
                <h2 class="title">Recent Blogs</h2>
                <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
             </div>
            <!-- Column -->
        </div>
        <div class="row m-t-40">
            <!-- Column -->
            <div class="col-md-4">
                <div class="card" data-aos="flip-left" data-aos-duration="1200">
                    <a href="#"><img class="card-img-top" src="{{ asset('images/banner-bg.jpg') }}" alt="wrappixel kit"></a>
                    <div class="date-pos bg-info-gradiant">Oct<span>23</span></div>
                    <h5 class="font-medium m-t-30"><a href="#" class="link">You should have eagle’s eye on new trends and techonogies</a></h5>
                    <p class="m-t-20">Business Park, Opp. Corns Sam Restaurant, New Yoark, US</p>
                    <a data-toggle="collapse" href="#" class="linking text-themecolor m-t-10">Learn More <i class="ti-arrow-right"></i></a>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-4">
                <div class="card" data-aos="flip-up" data-aos-duration="1200">
                    <a href="#"><img class="card-img-top" src="{{ asset('images/banner-bg.jpg') }}" alt="wrappixel kit"></a>
                    <div class="date-pos bg-info-gradiant">Oct<span>23</span></div>
                    <h5 class="font-medium m-t-30"><a href="#" class="link">New Seminar on Newest Food Recipe from World’s Best</a></h5>
                    <p class="m-t-20">Business Park, Opp. Corns Sam Restaurant, New Yoark, US</p>
                    <a data-toggle="collapse" href="#" class="linking text-themecolor m-t-10">Learn More <i class="ti-arrow-right"></i></a>
                </div>
            </div>
            <!-- Column -->
            <div class="col-md-4">
                <div class="card" data-aos="flip-right" data-aos-duration="1200">
                    <a href="#"><img class="card-img-top" src="{{ asset('images/banner-bg.jpg') }}" alt="wrappixel kit"></a>
                    <div class="date-pos bg-info-gradiant">Oct<span>23</span></div>
                    <h5 class="font-medium m-t-30"><a href="#" class="link">Learn from small things to create something bigger.</a></h5>
                    <p class="m-t-20">Business Park, Opp. Corns Sam Restaurant, New Yoark, US</p>
                    <a data-toggle="collapse" href="#" class="linking text-themecolor m-t-10">Learn More <i class="ti-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
