<div class="">
    <h1>Email From: <b> <%= @name %> </b> </h1>
    <h2>With Email: <b> <%= @email %> </b> </h2>
    <h2>And Phone: <b> <%= @phone %> </b> </h2>
    <h2>With Message: <h2>
        <div class="">
            <p> <%= @message %> </p>
        </div>
</div>
