/**
 *= require bootstrap
 *= require filepond/dist/filepond
 *= require filepond-plugin-image-preview/dist/filepond-plugin-image-preview
 *= require_self
 */

 $fa-font-path: '@fortawesome/fontawesome-free/webfonts';
 @import '@fortawesome/fontawesome-free/scss/fontawesome';
 @import '@fortawesome/fontawesome-free/scss/solid';
 @import '@fortawesome/fontawesome-free/scss/regular';
 @import '@fortawesome/fontawesome-free/scss/brands';
 @import '@fortawesome/fontawesome-free/scss/v4-shims';

 #parent-loader{
     height: 100vh;
     width: 100vw;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 999999;
 }
 #circle {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 	width: 150px;
     height: 150px;
 }

 .loader {
     width: calc(100% - 0px);
 	height: calc(100% - 0px);
 	border: 8px solid #162534;
 	border-top: 8px solid #09f;
 	border-radius: 50%;
 	animation: rotate 5s linear infinite;
 }

 @keyframes rotate {
 100% {transform: rotate(360deg);}
 }

 .filepond--item {
     width: calc(50% - .5em);
 }

 @media (min-width: 30em) {
     .filepond--item {
         width: calc(50% - .5em);
     }
 }

 @media (min-width: 50em) {
     .filepond--item {
         width: calc(33.33% - .5em);
     }
 }
