<div class="bg-primary d-none" id="parent-loader">
    <div id="circle">
      <div class="loader">
        <div class="loader">
            <div class="loader">
               <div class="loader">

               </div>
            </div>
        </div>
      </div>
      <div class="text-center">
          <span class="text-white">Processing...</span>
      </div>
    </div>
</div>
